/*************************************
    GENERAL RULES
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #32495b;
  min-width: 1160px;
  background-color: #F4F9FD;
}
.w70c {
  width: 70%;
  margin: 0 auto;
}
.w50c {
  width: 50%;
  margin: 0 auto;
}
.w50 {
  width: 50%;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  display: inline-block;
  background-color: #32495b;
}

/*************************************
    HEADER
*/
header {
  line-height: 80px;
}
header .float_l ul li {
  padding: 0 20px;
}
header .float_l ul li:first-child {
  padding-left: 0;
}
header .float_r ul li {
  padding: 0 10px;
}
header .float_r ul li:last-child {
  padding-right: 0;
}

/*************************************
    TOP HEADER
*/
.top_header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  min-width: 1160px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495b;
}
.top_header .float_l ul li:first-child {
  border-right: 2px solid #32495b;
  line-height: 100%;
}
.top_header .fa-search:before {
  color: #0fa7be;
}

/*************************************
    BOTTOM HEADER
*/
.bottom_header {
  margin-top: 80px; /* fixed top header height */
  background-color: white;
}
.bottom_header img {
  vertical-align: middle;
}
.bottom_header .fa-chevron-down {
  margin-left: 10px;
}

/*************************************
  JUMBOTRON
*/
.jumbotron {
  position: relative;
  height: 700px;
  background-color: #FFF4EF;
  background-image: url("../img/jumbotron.png");
  background-size: 1450px;
  background-position: right top;
  background-repeat: no-repeat;
}
.jumbotron .payoff {
  margin-top: 60px;
}
.jumbotron .btn {
  margin: 10px 0 30px 0;
}
.jumbotron .strip {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/*************************************
    SECTION CUBE
*/
.section_cube {
  text-align: center;
  margin: 50px 0 30px;
}
.section_cube img {
  width: 250px;
}

/*************************************
    SECTION 1 BOX
*/
.b1 .float_l {
  width: 30%;
  padding: 5%;
  text-align: center;
}
.b1 .float_r {
  width: 70%;
  padding: 5%;
}
.b1 .float_r .extra_text h3 {
  display: inline-block;
  width: 40%;
  margin-bottom: 30px;
  margin-right: 2%;
}
.b1 .float_r .extra_text hr {
  width: 58%;
  margin-bottom: 5px;
}
.b1 .float_r .h_list li {
  padding: 0 10px;
}
.b1 .float_r .h_list li:first-child {
  padding-left: 0;
}

/*************************************
    SECTION 3 BOXES
*/
.b3 hr {
  width: 100%;
  margin-top: 30px;
}
.b3 h3:not(.box_title) {
  margin: 30px 0;
}
.b3 .subtitle {
  min-height: 150px;
}
.b3 .btn {
  margin-top: 40px;
}

/*************************************
    SECTION TABLE
*/
.section_table {
  padding: 50px 0;
  text-align: center;
  color: white;
  /* background-color: #00B3B0; */
  background-image: linear-gradient(to right, #00A9B8, #00B2B1, #00B9A8);
}
.table {
  margin: 30px 0 50px 0;
}
.table .row:first-child {
  border-bottom: 1px solid white;
}
.table .cell {
  display: inline-block;
  width: 24.6%;
  padding: 20px 25px;
  border-right: 1px solid white;
}
.table .cell:last-child {
  border-right: 0;
}
.table img {
  max-width: 100px;
  height: 33px;
}
.table .figure {
  font-size: 2.5em;
  font-weight: 700;
  margin: 10px;
}
.table .fa-plus {
  font-size: 0.3em;
  vertical-align: middle;
  margin-left: 5px;
}

/*************************************
    SECTION CLIENTS
*/
.section_clients {
  background-color: white;
  padding: 50px 0;
}
.section_clients .float_l {
  width: 40%;
  padding: 0 100px 0 60px;
}
.section_clients .float_r {
  width: 60%;
  padding-right: 70px;
}
.section_clients .row {
  margin: 10px 0;
}
.section_clients img {
  vertical-align: middle;
  max-width: 24%;
  padding: 10px;
  /* image dimensions are here! */
}

/*************************************
    SECTION GROWING
*/
.section_growing {
  background-color: white;
  padding: 10px 0 60px;
}
.section_growing .float_l {
  width: 40%;
}
.section_growing .btn {
  margin: 10px 0 30px 0;
}
.section_growing .float_r {
  width: 60%;
  text-align: right;
}
.section_growing img {
  display: inline-block;
  width: 50%;
}

/*************************************
    FOOTER
*/
footer {
  color: #ccd4dd;
  background-color: #32495B;
  padding: 40px 0;
}
footer ul li a:not(.head,.btn):hover {
  color: #0294ad;
}
.footer_1 {
  margin-bottom: 40px;
}
.footer_1 .col {
  width: 25%;
}
.footer_1 ul li:first-child {
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}
.footer_1 ul li {
  margin-bottom: 20px;
}
.footer_1 .social a {
  margin-right: 25px;
}
.footer_2 {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 20px 0;
  margin: 40px 0;
}
.footer_2 ul li {
  margin: 0 10px;
}
.footer_3 ul li {
  margin-left: 15px;
}
.footer_3 .copy {
  color: white;
  margin: 5px 0;
}












/*************************************
    UNIVERSALS
*/

/***** LISTS *****/

ul {
  list-style: none;
}
.v_list {
  text-align: left;
}
li {
  text-transform: capitalize;
}
.h_list li {
  display: inline-block;
}

/***** BOXES *****/

.box {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  margin-bottom: 50px;
}
.box.b1 {
  width: 100%;
}
.box.b3 {
  width: 30%;
  padding: 20px 30px;
  text-align: center;
}
.box.b3middle {
  margin: 0 5%;
}
.box .fa-check-circle {
  color: #FE785A;
  margin-right: 10px;
}

/***** BOX IMAGES *****/

.box img {
  height: 100px;
  margin-bottom: 20px;
}

/***** TEXTS *****/

.payoff {
  display: inline-block;
  font-size: 2.9em;
  font-weight: bold;
  line-height: 1.3em;
}
.title {
  display: inline-block;
  font-size: 1.9em;
  font-weight: bold;
}
.subtitle {
  display: inline-block;
  font-size: 0.9em;
  line-height: 2em;
  margin: 30px 0 20px 0;
}
.smalltext {
  font-size: 0.75em;
  line-height: 1.75em;
}
.box_title {
  font-size: 1.4em;
}
.list_text {
  font-size: 0.9em;
}

/***** BUTTONS *****/

.btn {
  padding: 10px;
  border: 1px solid #FE785A;
  border-radius: 5px;
  font-size: 80%;
}
.btn.big {
  display: inline-block;
  padding: 20px 40px;
}
.btn.empty {
  background-color: #FAFCFE;
}
.btn.empty:hover {
  background-color: #F4F9FD;
}
.btn.filled {
  color: white;
  background-color: #FE785A;
}
.btn.filled:hover {
  background-color: #f7917a;
}
.btn.filled_grey {
  display: inline-block;
  font-size: 90%;
  color: #32495B;
  padding: 10px 10px;
  border: 1px solid white;
  background-color: #D6DBDE;
}
.btn.filled_grey:hover {
  background-color: #c8c8c8;
}
