/*************************************
    GENERAL RULES
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #32495b;
  min-width: 1160px;
  background-color: #F4F9FD;
}
.w70 {
  width: 70%;
  margin: 0 auto;
}
.w50 {
  width: 50%;
  margin: 0 auto;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
}
.shadow {
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}

/*************************************
    HEADER
*/
header {
  line-height: 80px;
}
header .float_l ul li {
  padding: 0 20px;
}
header .float_l ul li:first-child {
  padding-left: 0;
}
header .float_r ul li {
  padding: 0 10px;
}
header .float_r ul li:last-child {
  padding-right: 0;
}

/*************************************
    TOP HEADER
*/
header .h_top {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495b;
}
header .h_top .float_l ul li:first-child {
  border-right: 1px solid #32495b;
  line-height: 100%;
}
.fa-search:before {
    color: #0fa7be;
}

/*************************************
    BOTTOM HEADER
*/
header .h_bottom {
  margin-top: 80px; /* fixed top header height */
  line-height: 80px;
  background-color: white;
}
header .h_bottom img {
  vertical-align: middle;
}
.fa-chevron-down {
  margin-left: 10px;
}

/*************************************
  JUMBOTRON
*/
.jumbotron {
  position: relative;
  height: 700px;
  background-color: #FFF4EF;
  background-image: url("../img/jumbotron.png");
  background-size: 1450px;
  background-position: right top;
  background-repeat: no-repeat;
}
.payoff {
  width: 50%;
}
.payoff_title h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 1.3em;
  margin-top: 60px;
}
.payoff .btn {
  display: inline-block;
  margin: 10px 0 30px 0;
}
.strip {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 90px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/*************************************
    SECTION CUBE
*/
.section_cube {
  text-align: center;
  margin: 50px 0;
}
.section_cube img {
  width: 250px;
}

/*************************************
    SECTION 1 BOX
*/
.b1_left {
  width: 30%;
  padding: 5%;
  text-align: center;
}
.b1_left .btn {
  display: inline-block;
}
.b1_right {
  height: 100%;
  width: 70%;
  padding: 5%;
}
.b1_right .text_area {
  height: 100%;
  margin-bottom: 30px;
}
.b1_right .text_area .float_l {
  width: 40%;
}
.b1_right .text_area .float_r {
  width: 60%;
  padding-top: 10px;
}
.b1_right .h_list li {
  padding: 0 10px;
}
.b1_right .h_list li:first-child {
  padding-left: 0;
}
.fa-check-circle {
  color: #FE785A;
  margin-right: 10px;
}

/*************************************
    SECTION 3 BOXES
*/
.b3 hr {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.b3 .box_title {
  margin-bottom: 30px;
}
.b3 h3:not(.box_title) {
  margin: 30px 0;
}
.b3 .subtitle {
  min-height: 150px;
}
.b3 .btn {
  display: inline-block;
  margin-top: 40px;
}

/*************************************
    SECTION TABLE
*/
.section_table {
  padding: 40px 0;
  text-align: center;
  color: white;
  /* background-color: #00B3B0; */
  background-image: linear-gradient(to right, #00A9B8, #00B2B1, #00B9A8);
}
.table {
  width: 100%;
  margin: 50px 0;
}
.table .row:first-child {
  border-bottom: 1px solid white;
}
.table .cell {
  display: inline-block;
  width: 24.6%;
  height: 50%;
  padding: 20px 25px;
  border-right: 1px solid white;
}
.table .cell:last-child {
  border-right: 0;
}
.table img {
  max-width: 100px;
  height: 33px;
}
.table .value {
  font-size: 2.5em;
  font-weight: 700;
  margin: 10px;
}
.table .fa-plus {
  font-size: 0.3em;
  vertical-align: middle;
  margin-left: 5px;
}
.table .text {
  font-size: 0.75em;
}

/*************************************
    SECTION CLIENTS
*/
.section_clients {
  background-color: white;
  padding: 50px 70px;
}
.section_clients .float_l {
  width: 40%;
  padding-right: 100px;
}
.section_clients .float_r {
  width: 60%;
}
.section_clients .number {
  font-size: 3em;
  font-weight: 700;
}
.section_clients .row {
  margin: 10px 0;
}
.section_clients img {
  vertical-align: middle;
  max-width: 24%;
  padding: 10px; /* image dimensions are here! */
}

/*************************************
    SECTION GROWING
*/
.section_growing {
  background-color: white;
  padding: 10px 0 60px;
}
.section_growing .float_l {
  width: 40%;
}
.section_growing .float_r {
  width: 60%;
  text-align: right;
}
.section_growing img {
  display: inline-block;
  width: 50%;
}

/*************************************
    FOOTER
*/
footer {
  color: #ccd4dd;
  background-color: #32495B;
  padding: 40px 0;
}
footer ul li a:not(.head,.btn):hover {
  color: #0294ad;
}
.footer_1 {
  margin-bottom: 40px;
}
.footer_1 .col {
  width: 25%;
}
.footer_1 ul li:first-child {
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}
.footer_1 ul li {
  margin-bottom: 20px;
}
.footer_1 .social a {
  margin-right: 25px;
}
.footer_2 {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 20px 0;
  margin: 40px 0;
}
.footer_2 ul li {
  margin: 0 10px;
}
.footer_3 ul li {
  margin-left: 10px;
}
.footer_3 .copy {
  color: white;
  margin: 5px 0;
}












/*************************************
    UNIVERSALS
*/

/***** LISTS *****/

ul {
  list-style: none;
}
.v_list {
  text-align: left;
}
li {
  text-transform: capitalize;
}
.h_list li {
  display: inline-block;
}

/***** IMAGES *****/

.section_box img {
  height: 100px;
  margin-bottom: 20px;
}

/***** BOXES *****/

.section_box {
  margin-bottom: 50px;
}
.box {
  border-radius: 5px;
  background-color: white;
}
.b3 {
  width: 30%;
  padding: 20px 35px;
  text-align: center;
}
.b3middle {
  margin: 0 5%;
}

/***** TEXTS *****/

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}
.subtitle {
  font-size: 0.9em;
  line-height: 2em;
  margin: 30px 0 20px 0;
}
.smalltext {
  font-size: 0.75em;
}
.box_title {
  font-size: 1.4em;
}
.list_text {
  font-size: 0.9em;
}

/***** BUTTONS *****/

.btn {
  padding: 10px;
  border: 1px solid #FE785A;
  border-radius: 5px;
  font-size: 80%;
}
.big {
  padding: 20px 40px;
}
.empty {
  background-color: #FAFCFE;
}
.empty:hover {
  background-color: #F4F9FD;
}
.filled {
  color: white;
  background-color: #FE785A;
}
.filled:hover {
  background-color: #f7917a;
}
.filled_grey {
  display: inline-block;

  font-size: 90%;
  color: #32495B;
  padding: 10px 10px;
  border: 1px solid white;
  background-color: #D6DBDE;
}
.filled_grey:hover {
  background-color: #c8c8c8;
}
