/*************************************
    GENERAL RULES
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #32495b;
  min-width: 1000px;
  /* background-size: 1700px;
  background-image: url("../img/hubspot-screen.png"); */
}
header {
}
.w70 {
  width: 70%;
  margin: 0 auto;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
}
.tmp_box {
  border: 1px solid black;
}

/*************************************
    HEADER
*/
header {
  line-height: 80px;
  text-transform: capitalize;
}
header ul {
  list-style: none;
}
header ul li {
  display: inline-block;
}
header .float_l ul li {
  padding: 0 20px;
}
header .float_l ul li:first-child {
  padding-left: 0;
}
header .float_r ul li {
  padding: 0 10px;
}
header .float_r ul li:last-child {
  padding-right: 0;
}
.fa-globe-europe:before {
    content: "\f7a2";
}
.fa-chevron-down:before {
    content: "\f078";
}
.fa-search:before {
    content: "\f002";
    color: #0fa7be;
}

/*************************************
    TOP HEADER
*/
header .h_top {
  /* position: fixed; */
  /* top: 0; */
  background-color: #F4F9FD;
}
header .h_top .float_l ul li:first-child {
  border-right: 1px solid #32495b;
  line-height: 100%;
}

/*************************************
    BOTTOM HEADER
*/
header .h_bottom {
  /* margin-top: 50px;  */
  /* fixed header height */
  /* height: 80px; */
  line-height: 80px;
  background-color: white;
  /* background-color: rgba(141, 245, 120, 0.54); */
}
header .h_bottom img {
  vertical-align: middle;
}

/*************************************
  JUMBOTRON
*/
.jumbotron {
  position: relative;
  height: 700px;
  background-color: #FFF4EF;
  background-image: url("../img/jumbotron.png");
  background-size: 1450px;
  background-position: right top;
}
.payoff {
  width: 50%;
}
.payoff_title h1 {
  display: inline-block;
  font-size: 2.8em;
  line-height: 1.3em;
  margin: 60px 0 30px 0;
}
.payoff_subtitle {
  font-size: 0.9em;
  line-height: 2em;
}
.payoff .btn {
  display: inline-block;
  margin: 30px 0;
}
.payoff_smalltext {
  font-size: 0.75em;
}
.strip {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}


/*************************************
    BUTTONS
*/
.btn {
  padding: 10px;
  border: 1px solid #FE785A;
  border-radius: 5px;
  font-size: 80%;
}
.big {
  padding: 20px 40px;
}
.empty {
  background-color: #FAFCFE;
}
.empty:hover {
  background-color: #F4F9FD;
}
.filled {
  color: white;
  background-color: #FE785A;
}
.filled:hover {
  background-color: #f7917a;
}
